<!DOCTYPE html>
<html>
    <head>
        <title>ClientProfile</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/4e9d558cf5.js" crossorigin="anonymous"></script>
        <style>
            html{
                height:100%;
            }
            body{
                
                height:100%;
            }
            a{
                color:#212529;
            }
            p{
                margin: 0px;
            }
            #outerContainer{
                min-height:90%;
                max-height:180%;
                width:95%;
                margin:0px auto;
                background:rgb(251, 249, 249);
                padding:40px;
            
            }
            #imgContainer{

                
                width:80%;
                margin:0px auto;
                margin-top: 5%;
                background: white;
                box-shadow: 2px 2px 5px rgb(204, 201, 201);;
            }
            #imgContainer:hover{
                box-shadow: 5px 5px 10px rgb(173, 164, 164);
            }
            #basicDetails{
                display: block;
                float:right;
                width:60%;
                padding:5% 5%;
                
            }
            h6{
                color:gray;
            }
            #buttonMenu{
                margin:0px 10%;
                margin-top:50px;
                
                background-color: white;
            }
            .button{
                background-color: white;
                border:0px;
                width:250px;
                height:40px;
                color:rgb(59, 57, 57);
                padding:0px;
            }
            .button:hover,.button:focus{
                background-color:rgb(51, 167, 245) ;
                color:white;
                border:0px;
            
            }
            .forButton{
                margin:30px 10%;
                padding:0px 5px;
            }
            #forButton2{
                display: none;
            }
            #propertySold,#propertyBought,#propertyOnRent,#propertyTenant,#propertyOnSale{
                width:100%;
                background-color: white;
                
            }
            th{
                background-color:rgb(51, 167, 245) ;
                color:white;
            }
            th,tr{
                padding:3px;
                text-align: center;
                height:60px;
            }
            table#propertySold tr:nth-child(even) {
                 background-color: #eee;
            }
            table#propertySold tr:nth-child(odd) {
                    background-color: #fff;
            }
            table#propertyRent tr:nth-child(even) {
                 background-color: #eee;
            }
            table#propertyRent tr:nth-child(odd) {
                    background-color: #fff;
            }
            #navbar{
                min-height: 80px;
                box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
            }
            .nav-item{
                padding-left: 40px;
            }
           @media(max-width:760px){
               .line{
                   display: none;
               }
               img{
                   height: 250px;
               }
           }
           @media(max-width:1200px){
               img{
                   height: 250px
               }
           }
           

        </style>
    </head>
    <body style="background-color: rgb(51, 167, 245);">
       
        <%- include('partials/navbar.ejs', {active: 'none'}) %>
        <div class="container" id="outerContainer">
         <div id="imgContainer">
            <img src="<%=response[0].client_img%>" onerror="this.src='https://www.w3schools.com/howto/img_avatar.png';" alt="Missing Image" height="40%" width="40%" />
            <div id="basicDetails">
                <h6 >Company Client</h6>
                <h4 style="color:rgb(97, 94, 94);"><b><%=response[0].first_name%> <%=response[0].middle_name%> <%=response[0].last_name%></b></h4>
                <br class="line"><br class="line">
                <h6>Email: <%=response[0].email%></h6>
                <h6>Address: <%=response[0].street_number + ", " + response[0].street_name%></h6>
                <h6>Mobile Number: +91 <%=response0[0].number%></h6>
            </div>
         </div>
         <div id="buttonMenu">
             <button id="button1" class="button" onclick="button1()" autofocus>Details</button>
             <button id="button2" class="button" onclick="button2()"> Client's Property Details</button>
         </div>
         <div id="forButton1" class="forButton">
             <h4>Client Details</h4>
             <br>
             <h6>Client Id: <%=response[0].client_id%></h6>
             <h6>Adhaar Number: <%=response[0].aadhaar_number%></h6>
             <h6>Date Of Birth: <%=response[0].dob%></h6>
             <h6>City: <%=response[0].city%></h6>
             <h6>State: <%=response[0].state%></h6>
             <h6>Zip: <%=response[0].zip%></h6>
             
            </div>
         <div id="forButton2" class="forButton">
             <br>
             <h5>Properties Sold :</h5>
             <br> 
            <div  style="overflow-y:auto;overflow-x:auto;">
                <table id="propertySold">
                    <tr>
                      <th>Transaction ID</th>
                      <th>Property ID</th>
                      <th>Date of Sale</th>
                      <th>Price</th>
                      <th>Buyer ID</th>
                      
                    </tr> 
                    <%var soldcount=0;%>
                    <%response2.forEach(function(sale){soldcount++;%>
                       
                        <tr>
                            <td><%=sale.Transaction_id%></td>
                            <td><a href="/property/<%sale.property_id%>"><%=sale.property_id%></a></td>
                            <td><%=sale.date_of_sale%></td>
                            <td>&#8377;<%=sale.final_price%></td>
                            <td><a href="/client/<%=sale.buyer_id%>"><%=sale.buyer_id%></a></td>
                            
                          </tr>
                     
                     <%});%>  
                     <%if(soldcount==0){%>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                       
                    <%}%>    
                </table>
              </div>
              <br>
             <h5>Properties Bought :</h5>
             <br> 
            <div  style="overflow-y:auto;overflow-x:auto;">
                <table id="propertyBought">
                    <tr>
                      <th>Transaction ID</th>
                      <th>Property ID</th>
                      <th>Date of Sale</th>
                      <th>Price</th>
                      <th>Seller ID</th>
                      
                    </tr> 
                    <%var boughtcount=0;%>
                    <%response3.forEach(function(sale){boughtcount++;%>
                       
                        <tr>
                            <td><%=sale.Transaction_id%></td>
                            <td><a href="/property/<%sale.property_id%>"><%=sale.property_id%></a></td>
                            <td><%=sale.date_of_sale%></td>
                            <td>&#8377;<%=sale.final_price%></td>
                            <td><a href="/client/<%=sale.seller_id%>"><%=sale.seller_id%></a></td>
                            
                          </tr>
              
                     <%});%>  
                     <%if(boughtcount==0){%>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                       
                    <%}%>    
                </table>
              </div>
              <br>
             <h5>Properties OnRent :</h5>
             <br> 
            <div  style="overflow-y:auto;overflow-x:auto;">
                <table id="propertyOnRent">
                    <tr>
                      <th>Transaction ID</th>
                      <th>Property ID</th>
                      <th>Date of Sale</th>
                      <th>Price</th>
                      <th>Tenant ID</th>
                      
                    </tr> 
                    <%var onrentcount=0;%>
                    <%response4.forEach(function(sale){onrentcount++;%>
                      
                        <tr>
                            <td><%=sale.Transaction_id%></td>
                            <td><a href="/property/<%sale.property_id%>"><%=sale.property_id%></a></td>
                            <td><%=sale.date_of_sale%></td>
                            <td>&#8377;<%=sale.final_price%></td>
                            <td><a href="/client/<%=sale.buyer_id%>"><%=sale.buyer_id%></a></td>
                            
                          </tr>
                        
                     <%});%>  
                     <%if(onrentcount==0){%>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                       
                    <%}%>    
                </table>
              </div>
              <br>
             <h5>Property Tenant :</h5>
             <br> 
            <div  style="overflow-y:auto;overflow-x:auto;">
                <table id="propertyTenant">
                    <tr>
                      <th>Transaction ID</th>
                      <th>Property ID</th>
                      <th>Date of Sale</th>
                      <th>Price</th>
                      <th>Seller ID</th>
                      
                    </tr> 
                    <%var tenantcount=0;%>
                    <%response5.forEach(function(sale){tenantcount++;%>
                       
                        <tr>
                            <td><%=sale.Transaction_id%></td>
                            <td><a href="/property/<%sale.property_id%>"><%=sale.property_id%></a></td>
                            <td><%=sale.date_of_sale%></td>
                            <td>&#8377;<%=sale.final_price%></td>
                            <td><a href="/client/<%=sale.seller_id%>"><%=sale.seller_id%></a></td>
                            
                          </tr>
                        
                     <%});%>  
                     <%if(tenantcount==0){%>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        
                    <%}%>    
                </table>
              </div>
              <br>
              <h5>Property OnSale :</h5>
              <br> 
              <div  style="overflow-y:auto;overflow-x:auto;">
                  <table id="propertyOnSale">
                      <tr>
                        <th>Sale ID</th>
                        <th>Property ID</th>
                        <th>Date of Sale</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>agent_id</th>
                        
                      </tr> 
                      <%var onsalecount=0;%>
                      <%response6.forEach(function(sale){onsalecount++;%>
                         
                          <tr>
                              <td><%=sale.sale_id%></td>
                              <td><a href="/property/<%sale.property_id%>"><%=sale.property_id%></a></td>
                              <td><%=sale.date%></td>
                              <td>&#8377;<%=sale.price%></td>
                              <td><%=sale.category%></td>
                              <td><a href="/agent/<%=sale.agent_id%>"><%=sale.agent_id%></a></td>
                              
                              
                            </tr>
                          
                       <%});%>  
                       <%if(onsalecount==0){%>
                          <td>---</td>
                          <td>---</td>
                          <td>---</td>
                          <td>---</td>
                          <td>---</td>
                          <td>---</td>
                          
                      <%}%>    
                  </table>
                </div>
         </div>

      </div>    
      <div class="container-fluid" id="footer" style="margin-top: 10px; padding: 20px; background-color: #f8f9fa!important;">
        <div class="row">
            <p style="text-align: center; width: 100%;"> &copy All rights reserved | Real Estate</p>
        </div>
    </div>
    </body>
   <script>
       function button1(){
        document.getElementById('forButton2').style.display='none';
         document.getElementById('forButton1').style.display='block';
       }
       function button2(){
        document.getElementById('forButton2').style.display='block'; 
        document.getElementById('forButton1').style.display='none';
       }
       
   </script>
    
</html>