<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/range-slider.css">
    <script src="https://kit.fontawesome.com/4e9d558cf5.js" crossorigin="anonymous"></script>
    <title>Propety Details - Real Estate</title>

    <style>
        #navbar{
            height: 80px;
        }
        .nav-item{
            padding-left: 40px;
        }
        #carouselProperty img{
            border-style: none;
            border-radius: 10px;
            width: 1140px;
            height: 600px;
        }
        #property-box i{
            color: blue;
        }
    </style>
  </head>
  <body style="background-color: aliceblue;">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#"><i class="fa fa-door-open" style="margin-right: 10px;"></i><b>Real Estate</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fa fa-landmark"> Properties</i><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-id-badge"> Profile</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fa fa-sign-out"> Logout</i></a>
                </li>
                </ul>
            </div>
    </nav>
    </div>

    <!-- properties list -->
    <div class="container" id="property-box">
        <div class="row" style="margin-top: 60px;">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-sm-2 col-md-1 col-lg-1" style="transform: rotate(-90deg); padding-left: 0;">
                        <span class="badge badge-success">FOR SALE</span>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <h3><%=response.name%></h3>
                        <p style="font-size: 14px; color: #535353"><i class="fas fa-map-marker-alt"></i> <%=response.address%></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4" style="display: flex; justify-content: flex-end; flex-direction: column;">
                <h3 style="text-align: right;">₹<%=response.price%></h3>
                <button type="button" class="btn btn-primary btn-sm" style="max-width: 120px; align-self: flex-end;" alt="Got a client?">Have a deal?</button>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div id="carouselProperty" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="<%=response.img%>" class="d-block" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="<%=response.img%>" class="d-block" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="<%=response.img%>" class="d-block" alt="...">
                  </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div style="width: 100%;" class="card">
                <div class="card-header">Property Description</div>
                <div class="card-body" style="font-size: 15px; color: #535353"></p>
                    <p><%=response.description%></p>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 40px;">
            <div class="card col-12">
                <div class="card-header">Specifications</div>
                <div class="card-body" style="font-size: 15px; color: #535353"></p>
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <p style="font-size: 13px;"><i class="fas fa-bed"></i> <%=response.bedrooms%> Bedrooms</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <p style="font-size: 13px;"><i class="fas fa-bath"></i> <%=response.bathrooms%> Bathrooms</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <p style="font-size: 13px;"><i class="fas fa-chart-area"></i> <%=response.size%></p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <p style="font-size: 13px;"><i class="fas fa-hot-tub"></i> <%=response.size%> Balconies</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 40px;">
            <div class="card col-12">
                <div class="card-header">Facilities</div>
                <div class="card-body" style="font-size: 15px; color: #535353"></p>
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <p style="font-size: 13px;"><i class="fas fa-bed"></i> 3 Bedrooms</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <p style="font-size: 13px;"><i class="fas fa-bath"></i> 2 Bathrooms</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <p style="font-size: 13px;"><i class="fas fa-chart-area"></i> 1200 sq. ft.</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <p style="font-size: 13px;"><i class="fas fa-hot-tub"></i> 2 Balconies</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <p style="font-size: 13px;"><i class="fas fa-bed"></i> 3 Bedrooms</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <p style="font-size: 13px;"><i class="fas fa-bath"></i> 2 Bathrooms</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <p style="font-size: 13px;"><i class="fas fa-chart-area"></i> 1200 sq. ft.</p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <p style="font-size: 13px;"><i class="fas fa-hot-tub"></i> 2 Balconies</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="footer" style="margin-top: 80px; padding: 20px; background-color: #f8f9fa!important;">
        <div class="row">
            <p style="text-align: center; width: 100%;"> &copy All rights reserved | Real Estate</p>
        </div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="./assets/range-slider.js"></script>
</body>
</html>